<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/img/logo-mercado-liebre.svg" class="logo">
        <form action="/" method="get" class="buscador-form">
            <input type="search" name="Busqueda" placeholder="Buscá tus productos aqui" class="search-bar">
            <button type="submit" value="submit" class="button">Buscar</button>
        </form>
        <p class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
    <a href="#" class="hamburguer-bottom">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="main-navbar">
        <ul class="left-nav-bar">
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul>

        <ul class="rigth-nav-bar">
            <li><a href="/register">Creá tu cuenta
                <i class="far fa-address-card"></i>
            </a>
            </li>
            <li><a href="/login">Ingresá
                <i class="fas fa-sign-in-alt"></i>
            </a></li>
            <li><a href="#">Mis Compras
                <i class="fas fa-shopping-basket"></i>
            </a></li>
        </ul>
    </nav>
</header>