<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>   
<body>
    <%- include('./partials/header') %>   
    <form action="/" method="GET" class="create-form">
        <div class="control-formulario">
            <label>Nombre y Apellido</label>
            <input type="text" name="nombreApellido" class="control">
            <span class="feedback"></span>
        </div>
        <div class="control-formulario">
            <label>Nombre de Usuario</label>
            <input type="text" name="nombreUsuario" class="control">
        </div>
        <div class="control-formulario">
            <label>Fecha de Nacimiento</label>
            <input type="date" name="fechaNac" class="control">
        </div>
        <div class="control-formulario">
            <label>Domicilio</label>
            <input type="text" name="domicilio" class="control">
        </div>
        <div class="control-formulario">
                <label>Perfil de Usuario</label>
                <div class="ordenar-perfil">
                    <div class="ordenar">
                        <input type="radio" name="perfilUsusario">
                        <label class="titulo-perfil">Vendedor</label>
                    </div>
                    <div class="ordenar">
                        <input type="radio" name="perfilUsusario">
                        <label class="titulo-perfil">Comprador</label>
                    </div>
                </div>
        </div> 
        </div>
        <div class="control-formulario">
            <label>Categorias de Interes</label>
                <div class="ordenar">
                    <input type="checkbox" name="electro">
                    <label class="titulo-intereses">Electro</label>
                </div>
                <div class="ordenar">
                    <input type="checkbox" name="moda">
                    <label class="titulo-intereses">Moda</label>
                </div>
                <div class="ordenar">
                    <input type="checkbox" name="hogar">
                    <label class="titulo-intereses">Hogar</label>
                </div>
                <div class="ordenar">
                    <input type="checkbox" name="jugueteria">
                    <label class="titulo-intereses">Jugueteria</label>

                </div>
                <div class="ordenar">
                    <input type="checkbox" name="vidaSana">
                    <label class="titulo-intereses">Vida Sana</label>
                </div>
        </div>
        <div>
            <label>Foto de Usuario</label>
            <input type="file" name="fotoPerfil" accept=".jpg" class="control">
        </div>
        <div class="control-formulario">
            <label>Contraseña</label>
            <input type="password" name="password" class="control">
        </div>
        <div class="control-formulario">
            <label>Repetir Contraseña</label>
            <input type="password" name="repeatPassword" class="control">
        </div>
        <div class="botones">
            <button type="reset" class="boton-formulario">Borrar</button>
            <button type="submit" value="submit" class="boton-formulario">Enviar</button>
        </div>
    </form>
    <%- include('./partials/footer') %>   
</body>
</html>