*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#EAC926;;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    width: 100vw;
}
body{
    font-family: Roboto, sans-serif;
    width: 100vw;
}
main{
    background-color: #ebebeb;
    width: 100vw;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color:black;
}
.logo{
    width: 300px;
}
.no-subrayado{
    list-style-type: none;
}
.burger-menu{
    font-size: 40px;
    color: white;
    background-color: blue;
    display: block;
    width: 50px;
    border-radius: 15%;
    text-align: center;
    margin: auto;
}
.banner-caja{
    width: 100vw;
}
.banner{
    width: 100%;
}

.imagen{
    width: 100%;
}
.body-color{
    background-color:#666;
}
.titulares{
    font-size: 24px;
    padding-left: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.precio{
    font-size: 18px;
}
.descuento, .descripcion{
    font-size: 16px;
}
.texto-cuerpo{
    font-size: 12px;
    text-align: center;
    line-height:20px;
}
.precio,.descuento,.descripcion{
    padding-left: 15px;
}
.tarjeta-credito, .seguridad, .regalo{
    font-size: 32px;
    color:#03264C;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.titulares-pie{
    text-align: center;
    color: #666;
}
.derechos{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

.body-color{
    width: 90vw;
    margin: auto;
    background-color: #ebebeb;
}

/*.borde {
    border: solid 10px red;
}*/


.imagen-producto{
    width: 100%;
}
.icono-truck{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:solid 1px green ;
    text-align: center;
    color:green;
    font-size: 20px;
    padding: 12px;
    position: absolute;
    right: 20px;
    top: -25px;
    background-color: white;
}
.icono-texto{
    position: relative;
    border-top: solid 1px gray;
    padding-top: 10px;
}
.precio{
    font-size: 22px;
}

.descuento{
    font-size: 20px;
    color: orange;
    font-weight: bolder;
}

.descripcion{
    font-size: 20px;
    font-weight: bolder;
    color: darkmagenta;
}
  
.productos-foto-texto{
    background-color: white;
    width: 90vw;
    margin-bottom: 10px;
}
.lista-texto{
    margin-bottom: 10px;
}
.icono-mano{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    border: solid 5px red;
    width: 100vw;
    margin: auto;
}
