*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#EAC926;;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
body{
    font-family: Roboto, sans-serif;
    max-width: 100%;
}

/* HEADER */
.main-header{
    background-color: #EAC926;
    padding: 10px;
}
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    display: flex;
    padding: 5px;
}
.buscador {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}
.fa-search {
    align-self:center;
    background-color: white;
    font-size: 16px;
}
.copy-header{
    display: block;
    margin: auto;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}
.hamburguer-bottom{
    background-color: #03264C;
    color: #FFFFFF;
    display: block;
    max-width: 40px;
    padding: 5px 0px 5px 0px;
    border-radius: 6px;
    text-align: center;
    font-size: 25px;
    margin: auto;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.main-navbar {
    display: none;
}

/* BANNER */

.banner{
    width: 100%;
}
/* MAIN */
main{
    background-color: #ebebeb;
    width:100%;
    padding-bottom: 5px;
    margin: auto;
}
.titulares{
    font-size: 24px;
    padding-left: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.body-color{/*padre*/
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
}
.productos-foto-texto{
    background-color: white;
    margin-bottom: 10px;
    flex: 50%;
    margin: 5px;
}
.imagen-producto{
    width: 100%;
}
.icono-texto{
    position: relative;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}
.icono-truck{
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius:50% ;
    position:absolute;
    right:20px;
    top:-15px ;
    color: #39b54a;
}
.precio-descuento{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 15px;
}
.precio{
    font-size: 18px;
    width: 30%;
    display: flex;
    align-items: flex-end;
}
.descuento{
    font-size: 16px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    color: #39b54a;
    align-items: flex-end;
}
.descripcion{
    font-size: 16px;
    color:#666;
    font-weight: normal;
}

/* FOOTER */
footer{
    width: 90vw;
    margin: auto;
}
.tarjeta-credito, .seguridad, .regalo{
    font-size: 32px;
    color:#1259c3;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.titulares-pie{
    text-align: center;
    color: #666;
}
.texto-cuerpo{
    font-size: 12px;
    text-align: center;
    line-height:20px;
}

/* OTROS */

@media(min-width: 360px){ /*tablets*/
    .descuento{
        display: flex;
        justify-content: flex-end;    
    }
    .productos-foto-texto{
        flex: 46%;
        margin: 5px;
    }
    .buscador {
        font-size: 14px;
    }
    .body-color {
        display: flex;
        flex-wrap: wrap;
    }
}
@media(min-width: 768px){ /*desktops*/
    .productos-foto-texto{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        flex: 23%;
    }
    .descripcion{
        display: flex;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        padding: 0;
        text-align: right;
    }
    .hamburguer-bottom {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        display: flex;
        margin: 0 5px;
    }
    .logo, .buscador, .copy-header{
     width: 33%;
    }
    .logo{
        padding: 10px;

    }
    .buscador {
        justify-content: center;
        font-size: 20px;
    }
    .fa-search {
        font-size: 20px;
        margin: 10px;
        border: solid 2px white;
    }    
}
@media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
        margin: 0;
    }
    .main-navbar li {
        display: flex;
        margin: 0 10px;
        margin-top: 20px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .copy-header {
        max-width: none;
        font-size: 1.8em;
        font-weight: 400;
        margin: 0; 
        padding: 0;   
    }
    .buscador, .fa-search {
        font-size: 30px;
    }
    .fa-search {
        margin: 10px;
        border: solid 2px white;
    }
    .descuento {
        justify-content: flex-start;
    }
}